<h1>Editing article</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", [:administrate, @article] %> |
  <%= link_to "Back to articles", administrate_articles_path %>
</div>
