<h1 class="admin-title">Artigos</h1>
<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Listagem de artigos</h2>
    <div class="buttons">
      <%= link_to new_administrate_article_path, class: "button small" do %>
        <%= image_tag "icons/white/add.svg", alt: "add" %>
        Adicionar novo artigo
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Categoria</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <%= render article %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
