<%= link_to "Artigos", administrate_articles_path, class:"admin-title"%>
<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Cadastro de artigo</h2>
    <div class="buttons">
      <a href="#" class="button small" onclick="document.forms['article-form'].submit()">
        <%= image_tag "icons/white/save.svg", alt:"save" %>
        Salvar artigo
      </a>
    </div>
  </div>

  <%= render "form", article: @article %>
</div>
