<%= link_to "Artigos", administrate_articles_path, class:"admin-title"%>
<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Visualização de artigo</h2>
  </div>

  <%= render "form", article: @article, action: :show %>
</div>
