<h1>Seja bem-vindo, <%= @user.email %>!</h1>
<p>
  Você se cadastrou com o email: <%= @user.email %>.
</p>
<p>
 Para acessar o site, clique no link abaixo:
</p>

<a href="http://rubyonrails.club">http://rubyonrails.club</a>
