<h1 class="admin-title">Categorias</h1>
<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Listagem de categorias</h2>
    <div class="buttons">
      <%= link_to new_administrate_category_path, class: "button small" do %>
        <%= image_tag "icons/white/add.svg", alt: "add" %>
        Adicionar nova categoria
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 100%">Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <%= render category %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
