<%= link_to "Categorias", administrate_categories_path, class:"admin-title"%>
<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Cadastro de categoria</h2>
    <div class="buttons">
      <a href="#" class="button small" onclick="document.forms['category-form'].submit()">
        <%= image_tag "icons/white/save.svg", alt:"save" %>
        Salvar categoria
      </a>
    </div>
  </div>

  <%= render "form", category: @category %>
</div>
