<%= link_to "Categorias", administrate_categories_path, class:"admin-title"%>
<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Visualização de categorias</h2>
    <div class="buttons">
      <%= link_to edit_administrate_category_path(@category), class:"button small" do %>
        <%= image_tag "icons/white/edit.svg", alt:"save" %>
        Editar categoria
      <% end  %>
    </div>
  </div>

  <%= render "form", category: @category %>
</div>
