<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ruby on Rails Club - Admin Dashboard</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="./../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="./../img/favicon.ico" type="image/x-icon">
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;800&display=swap"
		rel="stylesheet">
	<!-- Style -->
	<link rel="stylesheet" href="./../css/style.css">
</head>

<body class="admin-page closed">

	<aside class="admin-nav" id="adminMenu">
		<div class="row row-menu-button">
			<a href="./login.html" class="logout">
				<img src="./../img/icons/white/exit.svg" alt="exit">
			</a>
			<a href="#" id="adminMenuButton">
				<img src="./../img/icons/white/menu.svg" alt="menu">
			</a>
		</div>
		<div class="row center">
			<a href="./dashboard.html" class="logo"><img src="./../img/logo.svg" alt="logo"></a>
		</div>
		<div class="row center column">
			<h3 class="user-name">Jackson Pires</h3>
			<h4 class="user-email">jacksonpires@gmail.com</h4>
		</div>
		<div class="row">
			<nav class="menu">
				<a href="./posts.html" class="active">
					<div class="icon">
						<img src="./../img/icons/white/posts.svg">
					</div>
					<label for="#">Posts</label>
				</a>
				<a href="#">
					<div class="icon">
						<img src="./../img/icons/white/categories.svg">
					</div>
					<label for="#">Categorias</label>
				</a>
				<a href="#">
					<div class="icon">
						<img src="./../img/icons/white/courses.svg">
					</div>
					<label for="#">Cursos</label>
				</a>
				<a href="#">
					<div class="icon">
						<img src="./../img/icons/white/config.svg">
					</div>
					<label for="#">Configurações</label>
				</a>
			</nav>
		</div>
	</aside>

	<main class="admin-main-content">
		<h1 class="admin-title">Posts</h1>
		<div class="main-content">
			<div class="row">
				<h2 class="admin-subtitle">Cadastro de post</h2>
				<div class="buttons">
					<a href="#" class="button small">
						<img src="./../img/icons/white/save.svg" alt="save">
						Salvar post
					</a>
				</div>
			</div>
			<div class="row">
				<form action="#" class="form">
					<div class="input-row">
						<div class="input-container">
							<label for="#" class="label">Título</label>
							<input type="text" placeholder="Digite aqui o título do post" class="input">
						</div>
					</div>
					<div class="input-row">
						<div class="input-container">
							<label for="#" class="label">Descrição</label>
							<input type="text" placeholder="Digite aqui a descrição do post" class="input">
						</div>
					</div>
					<div class="input-row">
						<div class="input-container">
							<label for="#" class="label">Conteúdo</label>
							<textarea rows="18" class="textarea" placeholder="Escreva aqui o conteúdo do post"></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	<script src="./../js/admin.js"></script>

</body>

</html>