<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ruby on Rails Club - Entrar</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="./img/favicon.ico" type="image/x-icon">
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;800&display=swap"
		rel="stylesheet">
	<!-- Style -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<header class="section header-section">
		<div class="container">
			<a href="index.html" class="logo">
				<img src="img/logo.svg" alt="Logo Ruby on Rails Club">
			</a>
			<nav class="menu" id="menu">
				<a href="#" class="close-menu-button" id="closeMenuButton">
					<img src="./img/icons/white/close.svg" alt="Close Button">
				</a>
				<ul>
					<li><a href="index.html">Início</a></li>
					<li><a href="#">Categorias</a></li>
					<li><a href="#">Cursos</a></li>
					<li><a href="#">Contato</a></li>
				</ul>
				<div class="mobile-actions">
					<div>
						<a href="login-entrar.html" class="button secondary">Entrar</a>
					</div>
				</div>
			</nav>
			<a href="#" class="open-menu-button" id="openMenuButton">
				<img src="./img/icons/red/menu.svg" alt="Open Menu">
			</a>
			<div class="actions">
				<a href="login-entrar.html" class="button">Entrar</a>
			</div>
		</div>
	</header>

	<section class="section login-form-section">
		<div class="container">
			<h1 class="form-title">Olá, é seu primeiro acesso</h1>
			<h3 class="form-subtitle">Para criar uma conta, complete seu cadastro abaixo</h3>
			<form action="#" class="form paddingless borderless">
				<div class="input-row">
					<div class="input-container">
						<label for="#" class="label">Nome</label>
						<input type="text" placeholder="Digite seu nome" class="input">
					</div>
				</div>
				<div class="input-row double">
					<div class="input-container">
						<label for="#" class="label">Senha</label>
						<input type="password" placeholder="Crie uma senha" class="input">
					</div>
					<div class="input-container">
						<label for="#" class="label">Confirmar Senha</label>
						<input type="password" placeholder="Confirmar senha" class="input">
					</div>
				</div>
				<div class="input-row">
					<div class="input-container">
						<a href="index.html" type="submit" class="button full">Finalizar cadastro</a>
					</div>
				</div>
				<div class="form-divisor"></div>
				<div class="social-buttons">
					<a href="login-senha.html" class="button google">
						<span class="button-icon"></span>
						<span class="button-label">Continuar com Google</span>
					</a>
					<a href="login-senha.html" class="button facebook">
						<span class="button-icon"></span>
						<span class="button-label">Continuar com Facebook</span>
					</a>
					<a href="login-senha.html" class="button apple">
						<span class="button-icon"></span>
						<span class="button-label">Continuar com Apple</span>
					</a>
				</div>
			</form>
		</div>
	</section>

	<footer class="section footer-section">
		<div class="container">
			<div class="box-container">
				<div class="box">
					<div class="box-title">Páginas</div>
					<div class="list-container">
						<ul>
							<li><a href="#">Início</a></li>
							<li><a href="#">Categorias</a></li>
							<li><a href="#">Cursos</a></li>
							<li><a href="#">Contato</a></li>
						</ul>
					</div>
				</div>
				<div class="box">
					<div class="box-title">Categorias</div>
					<div class="list-container">
						<ul>
							<li><a href="#">Design</a></li>
							<li><a href="#">Backend</a></li>
							<li><a href="#">Frontend</a></li>
							<li><a href="#">Sistemas Operacionais</a></li>
						</ul>
						<ul>
							<li><a href="#">Segurança</a></li>
							<li><a href="#">DevOps</a></li>
							<li><a href="#">Marketing</a></li>
							<li><a href="#">Cloud</a></li>
						</ul>
					</div>
				</div>
				<div class="box">
					<div class="box-title">Posts Populares</div>
					<div class="list-container">
						<ul>
							<li><a href="#">Ruby on Rails 6 do básico ao avançado</a></li>
							<li><a href="#">Melhores práticas para desenvolvimento web</a></li>
							<li><a href="#">Aprenda os melhores comandos para terminal</a></li>
							<li><a href="#">Fundamentos do Ruby on Rails</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="social-container">
				<div class="social">
					<a href="#"><img src="./img/icons/gray/facebook.svg" alt="Facebook"></a>
					<a href="#"><img src="./img/icons/gray/twitter.svg" alt="Twitter"></a>
					<a href="#"><img src="./img/icons/gray/instagram.svg" alt="Instagram"></a>
					<a href="#"><img src="./img/icons/gray/linkedin.svg" alt="Linkedin"></a>
				</div>
			</div>
			<div class="logo-container">
				<img src="./img/logo-footer.svg" alt="Logo Footer">
				<span class="copyright">2022 - Ruby on Rails Club. Todos os direitos reservados</span>
			</div>
		</div>
	</footer>

	<script src="./js/menu.js"></script>

</body>

</html>