<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ruby on Rails Club - Home</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="./img/favicon.ico" type="image/x-icon">
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;800&display=swap"
		rel="stylesheet">
	<!-- Style -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body class="page-post-detail">

	<header class="section header-section">
		<div class="container">
			<a href="index.html" class="logo">
				<img src="img/logo.svg" alt="Logo Ruby on Rails Club">
			</a>
			<nav class="menu" id="menu">
				<a href="#" class="close-menu-button" id="closeMenuButton">
					<img src="./img/icons/white/close.svg" alt="Close Button">
				</a>
				<ul>
					<li><a href="index.html">Início</a></li>
					<li><a href="#">Categorias</a></li>
					<li><a href="#">Cursos</a></li>
					<li><a href="#">Contato</a></li>
				</ul>
				<div class="mobile-actions">
					<div>
						<a href="login-entrar.html" class="button secondary">Entrar</a>
					</div>
				</div>
			</nav>
			<a href="#" class="open-menu-button" id="openMenuButton">
				<img src="./img/icons/red/menu.svg" alt="Open Menu">
			</a>
			<div class="actions">
				<a href="login-entrar.html" class="button">Entrar</a>
			</div>
		</div>
	</header>

	<section class="section posts-detail-title-section">
		<div class="container">
			<h1 class="post-detail-title">Como desenvolver com Ruby on Rails 6</h1>
		</div>
	</section>

	<section class="section post-detail-default-section post-detail-image-section">
		<div class="container">
			<div class="primary-content">
				<div class="post-detail-image">
					<img src="./img/posts/detail/post1.jpg" alt="post 1">
				</div>
			</div>
			<div class="secondary-content">
				<a href="#" class="post-detail-image-ad">
					<img src="./img/ad/image-ad.jpg">
				</a>
				<div class="share-post">
					<div class="share-post-title">Compartilhar post</div>
					<div class="socials">
						<a href="#"><img src="./img/icons/red/facebook.svg"></a>
						<a href="#"><img src="./img/icons/red/twitter.svg"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section post-detail-default-section author-section">
		<div class="container">
			<div class="primary-content">
				<div class="author">
					<div class="image-container">
						<img src="./img/author/jackson.jpg">
					</div>
					<div class="text-container">
						<div class="label">Autor</div>
						<div class="description">Jackson Pires</div>
					</div>
				</div>
				<div class="category text-container">
					<div class="label">Categoria</div>
					<div class="description">Backend</div>
				</div>
				<div class="comments text-container">
					<div class="label">Comentários</div>
					<div class="description">15</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section post-detail-default-section post-content-section">
		<div class="container">
			<div class="primary-content">
				<div class="post-detail-content">
					<h2>Pré-requisitos</h2>
					<p>
						Lorem ipsum dolor sit amet . Os operadores gráficos e tipográficos sabem disso bem, na realidade, todas as
						profissões que lidam com o universo da comunicação têm um relacionamento estável com essas palavras, mas o
						que
						é? Lorem ipsum é um texto fofo sem qualquer sentido.

						É uma seqüência de palavras latinas que, como estão posicionadas, não formem frases com um sentido completo,
						mas dão vida a um texto de teste útil para preencher espaços que irão Posteriormente serão ocupados a partir
						de textos ad hoc compostos por profissionais de comunicação. <br><br>

						É certamente o texto de marcador de posição mais famoso, mesmo que existam diferentes versões distinguíveis
						da ordem em que as palavras latinas são repetidas, <a href="#">clique aqui</a> para saber mais <br><br>

						Lorem ipsum contém as tipos de letra mais em uso, um aspecto que permite que você tenha uma visão geral da
						renderização do texto em termos de escolha da fonte e tamanho da fonte.<br><br>

						Ao se referir a Lorem ipsum, diferentes expressões são usadas, nomeadamente texto de preenchimento, texto
						fictício, texto cego ou texto do espaço reservado: em suma, seu significado também pode ser zero, mas sua
						utilidade é tão clara quanto ao longo dos séculos e resiste às versões irônicas e modernas que vieram com a
						chegada da web.
					</p>
					<h3>Como instalar</h3>
					<p>
						Lorem ipsum dolor sit amet. Os operadores gráficos e tipográficos sabem disso bem, na realidade, todas as
						profissões que lidam com o universo da comunicação têm um relacionamento estável com essas palavras, mas o
						que
						é? Lorem ipsum é um texto fofo sem qualquer sentido. <br><br>

						É uma seqüência de palavras latinas que, como estão posicionadas, não formem frases com um sentido completo,
						mas dão vida a um texto de teste útil para preencher espaços que irão Posteriormente serão ocupados a partir
						de textos ad hoc compostos por profissionais de comunicação.
					</p>
				</div>
				<div class="post-detail-author-bio">
					<div class="image">
						<img src="./img/author/jackson2.jpg">
						<div class="text-mobile">
							<div class="label">sobre o autor</div>
							<div class="author-name">Jackson Pires</div>
						</div>
					</div>
					<div class="text">
						<div class="label">sobre o autor</div>
						<div class="author-name">Jackson Pires</div>
						<div class="author-description">
							Desenvolvedor desde 1999. Especialista em Engenharia de Software com Ênfase em Software Livre. Professor
							acadêmico de 2009 até 2016. Entusiasta Ruby on Rails desde 2007. Atualmente mantendo o site Vídeos de TI e
							dedicando-se ao EAD com cursos na área de desenvolvimento de software, tendo treinado mais de 20.000
							pessoas.
						</div>
						<div class="author-social">
							<a href="#"><img src="./img/icons/gray/facebook.svg"></a>
							<a href="#"><img src="./img/icons/gray/instagram.svg"></a>
							<a href="#"><img src="./img/icons/gray/twitter.svg"></a>
							<a href="#"><img src="./img/icons/gray/linkedin.svg"></a>
							<a href="#"><img src="./img/icons/gray/youtube.svg"></a>
						</div>
					</div>
				</div>
				<div class="post-detail-comment">
					<div class="comment-title-container">
						<div class="comment-title">Comentários</div>
						<div class="comment-actions">
							<div class="label">ordenar por: </div>
							<select class="select clean small">
								<option value="1">Últimos comentários</option>
								<option value="2">Mais recentes</option>
							</select>
						</div>
					</div>
					<div class="comment-form-container">
						<textarea class="textarea darker full double-padding"
							placeholder="Insira seu comentário aqui..."></textarea>
						<button class="button small">Publicar</button>
					</div>
					<div class="post-detail-comments-list">
						<div class="post-detail-comment-item">
							<div class="author-row">
								<div>
									<div class="avatar">
										<img src="./img/avatar/man-1.svg">
									</div>
									<div class="name">Marcio Junior</div>
								</div>
								<div>
									<div class="date">30min atrás</div>
								</div>
							</div>
							<div class="description-row">
								<p>Wanted to ask if you’re available for a portrait shoot next week to ask if you’re available for a
									portrait shoot next week to ask if you’re available for a portrait shoot next week</p>
							</div>
							<div class="actions-row">
								<a href="#" class="like">6</a>
								<a href="#" class="deslike">4</a>
								<a href="#" class="share"></a>
							</div>
						</div>
						<div class="post-detail-comment-item">
							<div class="author-row">
								<div>
									<div class="avatar">
										<img src="./img/avatar/woman-1.svg">
									</div>
									<div class="name">Ana Cristina</div>
								</div>
								<div>
									<div class="date">1hr atrás</div>
								</div>
							</div>
							<div class="description-row">
								<p>Wanted to ask if you’re available for a portrait shoot next week to ask if you’re available for a
									portrait shoot next week to ask if you’re available for a portrait shoot next week</p>
							</div>
							<div class="actions-row">
								<a href="#" class="like active">6</a>
								<a href="#" class="deslike">4</a>
								<a href="#" class="share"></a>
							</div>
						</div>
						<div class="post-detail-comment-item">
							<div class="author-row">
								<div>
									<div class="avatar">
										<img src="./img/avatar/man-2.svg">
									</div>
									<div class="name">Igor Henrique</div>
								</div>
								<div>
									<div class="date">2 dias atrás</div>
								</div>
							</div>
							<div class="description-row">
								<p>Wanted to ask if you’re available for a portrait shoot next week to ask if you’re available for a
									portrait shoot next week to ask if you’re available for a portrait shoot next week</p>
							</div>
							<div class="actions-row">
								<a href="#" class="like">6</a>
								<a href="#" class="deslike active">4</a>
								<a href="#" class="share"></a>
							</div>
						</div>
						<div class="post-detail-comment-item">
							<div class="author-row">
								<div>
									<div class="avatar">
										<img src="./img/avatar/woman-2.svg">
									</div>
									<div class="name">Maria Lúcia</div>
								</div>
								<div>
									<div class="date">30/09/2022</div>
								</div>
							</div>
							<div class="description-row">
								<p>Wanted to ask if you’re available for a portrait shoot next week to ask if you’re available for a
									portrait shoot next week to ask if you’re available for a portrait shoot next week</p>
							</div>
							<div class="actions-row">
								<a href="#" class="like">6</a>
								<a href="#" class="deslike">4</a>
								<a href="#" class="share"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="secondary-content">
				<a href="#" class="post-content-ad">
					<img src="./img/ad/post-content-ad.jpg">
				</a>
				<div class="post-detail-other-posts">
					<div class="other-posts-title">Outras publicações</div>
					<a href="#" class="post-resume">
						<img src="./img/posts/post1.jpg" class="post-resume-image">
						<h4 class="post-resume-title">Ruby on Rails 6 completo, do básico ao avançado</h4>
					</a>
					<a href="#" class="post-resume">
						<img src="./img/posts/post2.jpg" class="post-resume-image">
						<h4 class="post-resume-title">Aprenda os melhores comandos para terminal</h4>
					</a>
					<a href="#" class="post-resume">
						<img src="./img/posts/post3.jpg" class="post-resume-image">
						<h4 class="post-resume-title">Melhores práticas para desenvolvimento web</h4>
					</a>
				</div>
				<a href="#" class="post-content-ad">
					<img src="./img/ad/post-content-footer-ad.jpg">
				</a>
			</div>
		</div>
		</div>
	</section>

	<footer class="section footer-section">
		<div class="container">
			<div class="box-container">
				<div class="box">
					<div class="box-title">Páginas</div>
					<div class="list-container">
						<ul>
							<li><a href="#">Início</a></li>
							<li><a href="#">Categorias</a></li>
							<li><a href="#">Cursos</a></li>
							<li><a href="#">Contato</a></li>
						</ul>
					</div>
				</div>
				<div class="box">
					<div class="box-title">Categorias</div>
					<div class="list-container">
						<ul>
							<li><a href="#">Design</a></li>
							<li><a href="#">Backend</a></li>
							<li><a href="#">Frontend</a></li>
							<li><a href="#">Sistemas Operacionais</a></li>
						</ul>
						<ul>
							<li><a href="#">Segurança</a></li>
							<li><a href="#">DevOps</a></li>
							<li><a href="#">Marketing</a></li>
							<li><a href="#">Cloud</a></li>
						</ul>
					</div>
				</div>
				<div class="box">
					<div class="box-title">Posts Populares</div>
					<div class="list-container">
						<ul>
							<li><a href="#">Ruby on Rails 6 do básico ao avançado</a></li>
							<li><a href="#">Melhores práticas para desenvolvimento web</a></li>
							<li><a href="#">Aprenda os melhores comandos para terminal</a></li>
							<li><a href="#">Fundamentos do Ruby on Rails</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="social-container">
				<div class="social">
					<a href="#"><img src="./img/icons/gray/facebook.svg" alt="Facebook"></a>
					<a href="#"><img src="./img/icons/gray/twitter.svg" alt="Twitter"></a>
					<a href="#"><img src="./img/icons/gray/instagram.svg" alt="Instagram"></a>
					<a href="#"><img src="./img/icons/gray/linkedin.svg" alt="Linkedin"></a>
				</div>
			</div>
			<div class="logo-container">
				<img src="./img/logo-footer.svg" alt="Logo Footer">
				<span class="copyright">2022 - Ruby on Rails Club. Todos os direitos reservados</span>
			</div>
		</div>
	</footer>

	<script src="./js/menu.js"></script>

</body>