<%= link_to article_path(article), class:"item" do %>
  <%= image_tag(cover_image_fallback(article) , class: "item-image", alt:"article image") %>

  <div class="item-row">
    <div class="item-category">Backend</div>
    <div class="item-comments">25</div>
  </div>
  <div class="item-row">
    <div class="item-title"><%= article.title %></div>
  </div>
  <div class="item-row">
    <div class="item-author">Jackson Pires</div>
    <div class="item-date">15 de set</div>
  </div>
<% end %>
