<section class="section categories-grid-section">
  <div class="container">
    <div class="title-container with-item">
      <h2 class="title">Navegue por categoria</h2>
      <a href="#" class="button">Ver todos</a>
    </div>
    <div class="grid">
      <% @categories.each do |category| %>
        <a href="#" class="item">
          <%= image_tag category.cover_image, alt:"Categoria", class:"item-image" %>
          <div class="item-title"><%= category.name %></div>
          <p class="item-description">
            <%= category.description %>
          </p>
        </a>
      <% end %>
    </div>
  </div>
</section>
