<header class="section header-section">
  <div class="container">
    <a href="index.html" class="logo">
      <%= image_tag "logo.svg", alt: "Logo Ruby on Rails Club" %>
    </a>
    <nav class="menu" id="menu">
      <a href="#" class="close-menu-button" id="closeMenuButton">
        <%= image_tag "icons/white/close.svg", alt: "Close Button" %>
      </a>
      <ul>
        <li><a href="index.html">Início</a></li>
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <div class="mobile-actions">
        <div>
          <a href="login-entrar.html" class="button secondary">Entrar</a>
        </div>
      </div>
    </nav>
    <a href="#" class="open-menu-button" id="openMenuButton">
      <%= image_tag "icons/red/menu.svg", alt:"Open Menu" %>
    </a>
    <div class="actions">
      <a href="login-entrar.html" class="button">Entrar</a>
    </div>
  </div>
</header>
