<section class="section main-banner-section">
  <div class="container">
    <div class="text-container">
      <h1 class="title">Transforme sua carreira como desenvolvedor</h1>
      <h4 class="subtitle">O aprendizado definitivo que você estava procurando para acelerar sua carreira</h4>
    </div>
    <div class="image-container">
      <%= image_tag "main-banner.jpg", alt:"Desenvolvedor com notebook" %>
    </div>
  </div>
</section>
